CRM_Automation.json
{
  "name": "CRM Automation",
  "nodes": [
    {
      "parameters": {
        "events": [
          "BOOKING_CREATED"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.calTrigger",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "c5e7c5f1-6b50-4083-9eb8-dd5d49e3bcb3",
      "name": "Cal.com Trigger",
      "webhookId": "41c77dce-fc95-4869-bbe2-5e7ee20cfcd1",
      "credentials": {
        "calApi": {
          "id": "PMcHGaBBGjZb01uI",
          "name": "Cal account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.attendees[0].email }}",
        "subject": "=Regarding : Meeting with  {{ $json.attendees[0].name }}",
        "message": "=Hey  {{ $json.attendees[0].name }}\n<br><br>\nHow are you doing ?. You have booked a meeting with me on {{ $json.startTime .toDateTime().format('yyyy-mm-dd')}}. Am eager to chat with you so let's see on {{ $json.endTime .toDateTime().format('EEEE')}}.\n<br><br>\nThank You,\n<br>\njijesh",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        0
      ],
      "id": "2a7a83d3-f524-48a6-a55c-e397eb283b35",
      "name": "Gmail",
      "webhookId": "5fe8c7ff-ecaf-47ce-b050-2cc9340cc768",
      "credentials": {
        "gmailOAuth2": {
          "id": "C2plBtV0vVfCctHR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "90161066752",
        "space": "90164189614",
        "folder": "90165385617",
        "list": "901609013473",
        "name": "={{ $('Cal.com Trigger').item.json.attendees[0].name }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "c5bf6aef-f02d-431f-af10-5f1f2003eb3a",
      "name": "ClickUp",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "fhPvm6eHfk95Cyqu",
          "name": "ClickUp account"
        }
      }
    }
  ],
  "pinData": {
    "Cal.com Trigger": [
      {
        "json": {
          "triggerEvent": "BOOKING_CREATED",
          "createdAt": "2025-06-05T14:25:32.898Z",
          "bookerUrl": "https://cal.com",
          "title": "project discussion between Jijesh Raj K and Jijesh Raj K",
          "startTime": "2025-06-09T03:30:00Z",
          "endTime": "2025-06-09T03:45:00Z",
          "additionalNotes": "i want to know more about you",
          "type": "project-discussion",
          "description": "A quick chat for project discussion",
          "eventTypeId": 2561943,
          "hideCalendarNotes": false,
          "hideCalendarEventDetails": false,
          "hideOrganizerEmail": false,
          "schedulingType": null,
          "seatsPerTimeSlot": null,
          "seatsShowAttendees": true,
          "seatsShowAvailabilityCount": true,
          "customReplyToEmail": null,
          "organizer": {
            "id": 1557137,
            "name": "Jijesh Raj K",
            "email": "jijeshrajk@gmail.com",
            "username": "jijesh",
            "timeZone": "Asia/Calcutta",
            "language": {
              "locale": "en"
            },
            "timeFormat": "h:mma",
            "utcOffset": 330
          },
          "attendees": [
            {
              "email": "jijeshrajk21@gmail.com",
              "name": "Jijesh Raj K",
              "firstName": "",
              "lastName": "",
              "timeZone": "Asia/Calcutta",
              "language": {
                "locale": "en"
              },
              "utcOffset": 330
            }
          ],
          "customInputs": {},
          "responses": {
            "name": {
              "label": "your_name",
              "value": "Jijesh Raj K",
              "isHidden": false
            },
            "email": {
              "label": "email_address",
              "value": "jijeshrajk21@gmail.com",
              "isHidden": false
            },
            "location": {
              "label": "location",
              "value": {
                "optionValue": "",
                "value": "integrations:daily"
              },
              "isHidden": false
            },
            "title": {
              "label": "what_is_this_meeting_about",
              "isHidden": true
            },
            "notes": {
              "label": "additional_notes",
              "value": "i want to know more about you",
              "isHidden": false
            },
            "guests": {
              "label": "additional_guests",
              "value": [],
              "isHidden": false
            },
            "rescheduleReason": {
              "label": "reason_for_reschedule",
              "isHidden": false
            }
          },
          "userFieldsResponses": {},
          "location": "integrations:daily",
          "destinationCalendar": [
            {
              "id": 626819,
              "integration": "google_calendar",
              "externalId": "jijeshrajk@gmail.com",
              "primaryEmail": "jijeshrajk@gmail.com",
              "userId": 1557137,
              "eventTypeId": null,
              "credentialId": 1035541,
              "delegationCredentialId": null,
              "domainWideDelegationCredentialId": null
            }
          ],
          "iCalUID": "2265o8ynDjoChXQzLWudGQ@Cal.com",
          "iCalSequence": 0,
          "requiresConfirmation": false,
          "oneTimePassword": null,
          "uid": "2265o8ynDjoChXQzLWudGQ",
          "conferenceData": {
            "createRequest": {
              "requestId": "2db644eb-37a5-581a-99fa-ebe6ce513834"
            }
          },
          "videoCallData": {
            "type": "daily_video",
            "id": "K3EM36evuIfsjqGBJOHy",
            "password": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyIjoiSzNFTTM2ZXZ1SWZzanFHQkpPSHkiLCJleHAiOjE3NTA2NTAzMDAsIm8iOnRydWUsImVydWkiOmZhbHNlLCJkIjoiYmJkOThhNzEtMTljOS00YmIxLWE1YzUtY2FmMWVjNWJkMTA1IiwiaWF0IjoxNzQ5MTMzNTMyfQ.fXAOHi8tchExPeCUVBIagQhqjf617Kb9na325WTLd_4",
            "url": "https://meetco.daily.co/K3EM36evuIfsjqGBJOHy"
          },
          "appsStatus": [
            {
              "appName": "daily-video",
              "type": "daily_video",
              "success": 1,
              "failures": 0,
              "errors": []
            },
            {
              "appName": "google-calendar",
              "type": "google_calendar",
              "success": 1,
              "failures": 0,
              "errors": [],
              "warnings": []
            }
          ],
          "eventTitle": "project discussion",
          "eventDescription": "A quick chat for project discussion",
          "price": 0,
          "currency": "usd",
          "length": 15,
          "bookingId": 8357061,
          "metadata": {
            "videoCallUrl": "https://app.cal.com/video/2265o8ynDjoChXQzLWudGQ"
          },
          "status": "ACCEPTED"
        }
      }
    ]
  },
  "connections": {
    "Cal.com Trigger": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7737e805-d6df-4936-994b-82290d5c5c74",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68f13f376e06bfccd943670fff92a10784868a719917dd1f34778320fb139d1b"
  },
  "id": "e4VfdW5XhAhoEHoZ",
  "tags": []
}