onboarding_form.json
{
  "name": "onboarding form",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Onboarding form",
        "formDescription": "Thank you for your payment , just fill out the form and we will reach you out soon.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name ",
              "placeholder": "jijesh",
              "requiredField": true
            },
            {
              "fieldLabel": "Last Name ",
              "placeholder": "raj",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "abc@gmail.com",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "e2aff51b-1d6e-4876-9c5c-6532a8b8051e",
      "name": "On form submission",
      "webhookId": "b604304e-a969-4467-a219-52bfc457d813"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I want you to write a email for the client who have paid me .  First Name :  {{ $json['First Name '] }} Last Name : {{ $json['Last Name '] }} Send a simple mail regarding the apppreciation of the payment and the engineer will reach you out soon. ",
        "messages": {
          "messageValues": [
            {
              "message": "your are a professional email writer."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        220,
        0
      ],
      "id": "0a74faab-c554-42c7-a29a-d8e2d2b94f8b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        220
      ],
      "id": "1bbda47f-c826-4888-92b4-ea65a925ac37",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JONfr5ODsZW7awdz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "=",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        580,
        0
      ],
      "id": "2636ecc6-4d64-413b-9502-2c3c8d0727d3",
      "name": "Gmail",
      "webhookId": "db89c136-271f-4b03-b7bb-5bedd2a4b26b",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ckiZSYL74SZ0mGl",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "First Name ": "Jijesh",
          "Last Name ": "Raj",
          "Email": "jijeshrajk@gmail.com",
          "submittedAt": "2025-05-29T12:48:37.085-04:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "535da7d7-3533-4d5f-a1c1-6852b625b25b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b255d89089f237a3296f3f9c6fea7f8ad52fd4a5e750c0fd3e6d144049fe1342"
  },
  "id": "bXyzqqgUOEefX6fV",
  "tags": []
}